.colore{
    color: white;
    background-image: linear-gradient(to right, #0c5397,#248de4);
   box-shadow:9px 0px 23px 1px black;
}
a{
  color: white;  
}
a:hover{
color: white;
cursor: pointer;
}
.inpfild{
    width: 500px;
    height: 33px;
    border-radius: 2px;
   border: none;
}