<nav class="navbar  colore">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1 mx-4 ">edureka!</span>
    <form class="d-flex">
      <input type="text" class="inpfild">
      <button>Search</button>
</form>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" Routerlink="#">Coraporate Training</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" Routerlink="#">Coures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" Routerlink="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" Routerlink="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" Routerlink="#">Sign Up</a>
        </li>
      </ul>
</div>
</nav>