.tb1 {
    background-color: white;
    color: black;
    box-shadow: 3px 0px 20px 0px rgb(192, 192, 192);
    width: 327px;
    height: 82px;
    padding: 16px;
    position: relative;
    z-index: 1;
    margin-top: -40px;
    /* margin-left: 30px; */
}
.blu{
   text-decoration: none; 
   margin-left: 25px;
}