<div class="row">
    <div class="col-4">
        <div class="tb1">
            <p>BECOME A <br><b>DEVPOS ENGINEER</b><a class="blu">KNOW MORE></a></p>
        </div>
    </div>
    <div class="col-4">
        <div class="tb1">
            <p>BECOME A <br><b>CLOUD ARCHITECT</b><a class="blu">KNOW MORE></a></p>
        </div>
    </div>
    <div class="col-4">
        <div class="tb1">
            <p>BECOME A <br><b>DATA SCIENTEST</b><a class="blu">KNOW MORE></a></p>
        </div>
    </div>
</div>