
#tophead{
	 border:px solid red;
	 height:60px;
	 width:100%;
	 background-color:#0041C2;
    
}
.edusybml{
	
	height:40px;
	width:13%;
	margin-top:7px;
	margin-left:17px;
	float:left;
	text-align:center;
	font-size:40px;
	color:white;
	text-decoration:none;

}
.edurekaa{
	text-decoration:none;
	color:white;

}
.edurekaa:hover{
	text-decoration:none;
	color:white;

}
.searchbox1{
	width:84%;
	height:40px;
}
.searchbox{
	
	height:40px;
	width:33%;
	margin-top:7px;
	margin-left:75px;
	float:left;
}
.searchbt{
	
	height:40px;
	float:right;
	width:68px;
	background-color:yellow;
     
}
.tophead4{
	 
	height:40px;
	width:12%;
	margin-top:8px;
	float: left;
	margin-left:100px;
	font-size:19px;
	text-align:center;
	padding-top:8px;
}
.Corporatea{
	text-decoration:none;
	color:white;

}
.Corporatea:hover{
	text-decoration:none;
	color:white;

}
.tophead5{
	
	height:40px;
	width:6%;
	margin-top:7px;
	float: left;
	margin-left:15px;
	font-size:19px;
	text-align:center;
	padding-top:8px;
}
.coursesa{
	text-decoration:none;
	color:white;
}
.coursesa:hover{
	text-decoration:none;
	color:white;
}
.tophead6{
	box-shadow: 2px 2px 2px 2px black;
	height:40px;
	width:5%;
	margin-top:7px;
	float: left;
	margin-left:15px;
	font-size:19px;
	text-align:center;
	padding-top:8px;
}
.bloga{
	text-decoration:none;
	color:white;
}
.bloga:hover{
	text-decoration:none;
	color:white;
}
.loginbt{
	 border-left:1px solid red;
	 height:50px;
	 width:170px;
	 float: left;
	 margin-left:15px;
	 font-size:19px;
	text-align:center;
	padding-top:10px;
}
.loginbt1{
	 font-size:19px;
	text-align:center;
	padding-top:10px;
}
   
#secondtop{
	box-shadow: 2px 2px 2px 2px black;
	/* box-shadow: 2px 2px 2px 2px black; */
	width:100%;
	height:50px;
}
.secondtop1{
	box-shadow: 2px 2px 2px 2px black;
	width:10%;
	height:45px;
	margin-left:20px;
	float:left;
	text-decoration:none;

}
.browsea{
	 font-size:17px;
	text-align:center;
	text-decoration:none;
	margin-left:8px;

}
.secondtop2{
	  box-shadow: 2px 2px 2px 2px black;
	width:14%;
	height:30px;
	margin-left:70px;
	margin-top:9px;
	float:left;
}
.secondtop2:hover{
	  background-color:grey;
	  opacity:0.9;
	  border-radius:10px;
	  text-decoration:none;
}
.exec{
	 font-size:19px;
	text-align:center;
	margin-top: 4px;
	text-decoration:none;
	color:black;
}

.secondtop3{
	  box-shadow: 2px 2px 2px 2px black;
	width:12%;
	height:30px;
	margin-left:30px;
	margin-top:9px;
	float:left;
}
.secondtop3:hover{
	  background-color:grey;
	  opacity:0.9;
	  border-radius:10px;
	  text-decoration:none;
}
.cloud{
	 font-size:19px;
	text-align:center;
	margin-top: 4px;
	text-decoration:none;
	color:black;
}

.secondtop4{
	  box-shadow: 2px 2px 2px 2px black;
	width:6%;
	height:30px;
	margin-left:30px;
	margin-top:9px;
	float:left;
}
.secondtop4:hover{
	  background-color:grey;
	  opacity:0.9;
	  border-radius:10px;
	  text-decoration:none;
}
.dev{
	 font-size:19px;
	text-align:center;
	margin-top: 4px;
	text-decoration:none;
	color:black;
}

.secondtop5{
	  box-shadow: 2px 2px 2px 2px black;
	width:13%;
	height:30px;
	margin-left:30px;
	margin-top:9px;
	float:left;
}
.secondtop5:hover{
	  background-color:grey;
	  opacity:0.9;
	  border-radius:10px;
	  text-decoration:none;
}
.bi{
	 font-size:19px;
	text-align:center;
	margin-top: 4px;
	text-decoration:none;
	color:black;
}

.secondtop6{
	  box-shadow: 2px 2px 2px 2px black;
	width:9%;
	height:30px;
	margin-left:30px;
	margin-top:9px;
	float:left;
}
.secondtop6:hover{
	  background-color:grey;
	  opacity:0.9;
	  border-radius:10px;
	  text-decoration:none;
}
.data{
	 font-size:19px;
	text-align:center;
	margin-top: 4px;
	text-decoration:none;
	color:black;
}

.secondtop7{
	  box-shadow: 2px 2px 2px 2px black;
	width:6%;
	height:30px;
	margin-left:30px;
	margin-top:9px;
	float:left;
}
.secondtop7:hover{
	  background-color:grey;
	  opacity:0.9;
	  border-radius:10px;
}
.big{
	 font-size:19px;
	text-align:center;
	margin-top: 4px;
	text-decoration:none;
	color:black;
}

.secondtop8{
	  box-shadow: 2px 2px 2px 2px black;
	width:2%;
	height:30px;
	margin-left:120px;
	margin-top:9px;
	float:left;
}
.secondtop8:hover{
	  background-color:grey;
	  opacity:0.9;
	  border-radius:35px;
	  text-decoration:none;
}
.top8icon{
	 font-size:19px;
	text-align:center;
	margin-top: 4px;
	text-decoration:none;
	color:black;
}

#animat{
	/* box-shadow: 1px 2px 2px 2px solid black; */
	/* box-shadow: 2px 2px 2px 2px black; */
	width:100%;
	height:360px;
    float:left;
    overflow:hidden;
    z-index:0;
}
.anim{
    height:200%;
    width:50%;
    float:left;
}
#animat section{
	       width:200%;
		position: relative;
	animation: siya 9s ease-in-out infinite alternate;
			
		}
@keyframes siya{
    0%{left:0%}
	20%{left:0%}
	25%{left:-100%}
	40%{left:-100%}
	
}
.know1{
	/* box-shadow: 3px 2px 2px 2px solid black; */
	height:80px;
    width:280px;
    background-color:green;
    position:relative;
    z-index:1;
    margin-top:-40px;
    margin-left:155px;
    float:left;
}

.know2{
	box-shadow: 2px 2px 2px 2px black;
	height:80px;
    width:280px;
    background-color:green;
    position:relative;
    z-index:1;
    margin-top:-40px;
    margin-left:155px;
    float:left;
}

.know3{
	box-shadow: 2px 2px 2px 2px black;
	height:80px;
    width:280px;
    background-color:green;
    position:relative;
    z-index:1;
    margin-top:-40px;
    margin-left:155px;
    float:left;
}

#trend{
   box-shadow: 2px 2px 2px 2px black;
   height:30px;
   width:85%;
   font-size:25px;
   margin-top:430px;
   margin-left:145px;
}

.trndall{
	box-shadow: 2px 2px 2px 2px black;
   height:30px;
   width:85%;
   font-size:20px;
    margin-top:30px;
   margin-left:145px;
}
.trnd1{
	box-shadow: 2px 2px 2px 2px black;
   height:30px;
   width:10%;
   font-size:20px;
   float:left;
}

.trnd2{
	box-shadow: 2px 2px 2px 2px black;
   height:30px;
   width:15%;
   font-size:20px;
   float:left;
}

.trnd3{
	box-shadow: 2px 2px 2px 2px black;
   height:30px;
   width:10%;
   font-size:20px;
   float:left;
}

.trnd4{
	box-shadow: 2px 2px 2px 2px black;
   height:30px;
   width:16%;
   font-size:20px;
   float:left;
}

.trnd5{
	box-shadow: 2px 2px 2px 2px black;
   height:30px;
   width:13%;
   font-size:20px;
   float:left;
}

.trnd6{
	box-shadow: 2px 2px 2px 2px black;
   height:30px;
   width:10%;
   font-size:20px;
   float:left;
}

.trnd7{
	box-shadow: 2px 2px 2px 2px black;
   height:30px;
   width:5%;
   font-size:20px;
   float:right;
}

.trndicon{
	 font-size:19px;
	text-align:center;
	margin-top: 4px;
	text-decoration:none;
	color:black;
	float:right;
}
#hbox1{
	 box-shadow: 2px 2px 2px 2px black;
	 height:230px;
	  width:265px;
	 margin-top:30px;
	 margin-left:145px;
	 float:left;
}

.hbox2{
	 box-shadow: 2px 2px 2px 2px black;
	 height:230px;
	  width:265px;
	 margin-top:30px;
	 margin-left:30px;
	 float:left;
}


.hbox3{
	 box-shadow: 2px 2px 2px 2px black;
	 height:230px;
	width:265px;
	 margin-top:30px;
	 margin-left:30px;
	 float:left;
}
.hbox4{
	 box-shadow: 2px 2px 2px 2px black;
	 height:230px;
	 width:265px;
	 margin-top:30px;
	 margin-left:30px;
	 float:left;
}
.h2box1{
	 box-shadow: 2px 2px 2px 2px black;
	 height:230px;
	  width:265px;
	 margin-top:30px;
	 margin-left:145px;
	 background-color: green;
	 float:left;
}

.h2box2{
	 box-shadow: 2px 2px 2px 2px black;
	 height:230px;
	  width:265px;
	margin-top:30px;
	  margin-left:30px;
	  float:left;
}

.h2box3{
	 box-shadow: 2px 2px 2px 2px black;
	 height:230px;
	  width:265px;
	margin-top:30px;
	  margin-left:30px;
	  float:left;
}

.h2box4{
	 box-shadow: 2px 2px 2px 2px black;
	 height:230px;
	  width:265px;
	margin-top:30px;
	  margin-left:30px;
	  float:left;
}

#brows{
	
	height:70px;
	width:350px;
	margin-top:560px;
	margin-left:600px;
}

.browsbt{
	font-size:20px;
	background-color:blue;
	color:white;
	margin-left:47px;
}
.browsdt{
	font-size:20px;
	color:grey;
	margin-left:10px;
	margin-top:10px;
}

#care{
	 box-shadow: 2px 2px 2px 2px black;
   height:30px;
    width:85%;
   font-size:25px;
   margin-top:30px;
   margin-left:145px;
   background-color:red;
}

.care1{
	box-shadow: 2px 2px 2px 2px black;
	height:260px;
	width:357px;
	margin-top:30px;
	margin-left:145px;
	float:left;
}

.care2{
	box-shadow: 2px 2px 2px 2px black;
	height:260px;
	width:357px;
	margin-top:30px;
	margin-left:35px;
	float:left;
}

.care3{
	box-shadow: 2px 2px 2px 2px black;
	height:260px;
	width:357px;
	margin-top:30px;
	margin-left:35px;
	float:left;
}

#rec{
    box-shadow: 2px 2px 2px 2px black;
   height:30px;
    width:85%;
   font-size:25px;
   margin-top:320px;
   margin-left:145px;
 
}
.rec1{
	 box-shadow: 2px 2px 2px 2px black;
	 height:230px;
	  width:265px;
	 margin-top:30px;
	 margin-left:145px;
	 
	 float:left;
}
.rec2{
	 box-shadow: 2px 2px 2px 2px black;
	 height:230px;
	  width:265px;
	 margin-top:30px;
	 margin-left:30px;
	 
	 float:left;
}

.rec3{
	 box-shadow: 2px 2px 2px 2px black;
	 height:230px;
	  width:265px;
	 margin-top:30px;
	 margin-left:30px;
	 
	 float:left;
}

.rec4{
	 box-shadow: 2px 2px 2px 2px black;
	 height:230px;
	  width:265px;
	 margin-top:30px;
	 margin-left:30px;
	 
	 float:left;
}

#dis{
    box-shadow: 2px 2px 2px 2px black;
   height:30px;
    width:85%;
   font-size:25px;
   margin-top:320px;
   margin-left:145px;
 
}

.dis1{
	box-shadow: 2px 2px 2px 2px black;
	/* box-shadow:; */
	height:120px;
	width:130px;
	margin-top:30px;
	margin-left:145px;
	 float:left;
}

.dis2{
	box-shadow: 2px 2px 2px 2px black;
	height:120px;
	width:130px;
	margin-top:30px;
	margin-left:40px;
	 float:left;
}

.dis3{
	box-shadow: 2px 2px 2px 2px black;
	height:120px;
	width:130px;
	margin-top:30px;
	margin-left:40px;
	 float:left;
}

.dis4{
	box-shadow: 2px 2px 2px 2px black;
	height:120px;
	width:130px;
	margin-top:30px;
	margin-left:40px;
	 float:left;
}

.dis5{
	box-shadow: 2px 2px 2px 2px black;
	height:120px;
	width:130px;
	margin-top:30px;
	margin-left:40px;
	 float:left;
}

.dis6{
	box-shadow: 2px 2px 2px 2px black;
	height:120px;
	width:130px;
	margin-top:30px;
	margin-left:40px;
	 float:left;
}

.dis7{
	box-shadow: 2px 2px 2px 2px black;
	height:120px;
	width:130px;
	margin-top:30px;
	margin-left:40px;
	 float:left;
}


#rev{
    box-shadow: 2px 2px 2px 2px black;
   height:30px;
    width:85%;
   font-size:25px;
   margin-top:170px;
   margin-left:145px;
 
}

.rev1{
	box-shadow: 2px 2px 2px 2px black;
	height:260px;
	width:357px;
	margin-top:30px;
	margin-left:145px;
	float:left;
}

.rev2{
	box-shadow: 2px 2px 2px 2px black;
	height:260px;
	width:357px;
	margin-top:30px;
	margin-left:35px;
	float:left;
}

.rev3{
	box-shadow: 2px 2px 2px 2px black;
	height:260px;
	width:357px;
	margin-top:30px;
	margin-left:35px;
	float:left;
}

#Enroll{
	box-shadow: 2px 2px 2px 2px black;
	height:110px;
	width:100%;
	margin-top:320px;
	background-color:lightblue;
}

.Enroll1{
	font-size:20px;
	margin-left:147px;
	margin-top:30px;
	float:left;
}

.Enrollbt{
	 font-size:20px;
	margin-left:147px;
	margin-top:30px;
	float:left;
	background-color:blue;
	color:white;
	box-sizing:110px;
}

#let{
    box-shadow: 2px 2px 2px 2px black;
   height:30px;
    width:85%;
   font-size:25px;
   margin-top:50px;
   margin-left:145px;
 
}

.let1{
	box-shadow: 2px 2px 2px 2px black;
	height:170px;
	width: 270px;
	margin-left:145px;
	margin-top:30px;
	float:left;
}

.let2{
	box-shadow: 2px 2px 2px 2px black;
	height:170px;
	width: 270px;
	margin-left:30px;
	margin-top:30px;
	float:left;
}

.let3{
	box-shadow: 2px 2px 2px 2px black;
	height:170px;
	width: 270px;
	margin-left:30px;
	margin-top:30px;
	float:left;
}

.let4{
	box-shadow: 2px 2px 2px 2px black;
	height:140px;
	width: 270px;
	margin-left:30px;
	margin-top:30px;
	float:left;
}
.letbt{
	border:1px solid black;
	height:35px;
	width: 140px;
	margin-left:50px;
}

#Edge{
	 box-shadow: 2px 2px 2px 2px black;
   height:30px;
    width:85%;
   font-size:25px;
   margin-top:220px;
   margin-left:145px;
}

.Edge1{
	box-shadow: 2px 2px 2px 2px black;
	height:140px;
	width: 270px;
	margin-left:145px;
	margin-top:30px;
	float:left;
}

.Edge2{
	box-shadow: 2px 2px 2px 2px black;
	height:140px;
	width: 270px;
	margin-left:30px;
	margin-top:30px;
	float:left;
}

.Edge3{
	box-shadow: 2px 2px 2px 2px black;
	height:140px;
	width: 270px;
	margin-left:30px;
	margin-top:30px;
	float:left;
}

.Edge4{
	box-shadow: 2px 2px 2px 2px black;
	height:140px;
	width: 270px;
	margin-left:30px;
	margin-top:30px;
	float:left;
}

#how{
	box-shadow: 2px 2px 2px 2px black;
	height:220px;
	width:100%;
	margin-top:200px;
}

#nomore{
	box-shadow: 2px 2px 2px 2px black;
	height:320px;
	width:100%;
	margin-top:50px;
}

#iconbox{
	box-shadow: 2px 2px 2px 2px black;
	height:70px;
	width:80%;
	margin-left:147px;
}
.iconbox1{
	box-shadow: 2px 2px 2px 2px black;
	height:70px;
	width:10%;
	float:left;
}

.iconbox2{
	box-shadow: 2px 2px 2px 2px black;
	height:70px;
	width:10%;
	float:left;
}

.iconbox3{
	box-shadow: 2px 2px 2px 2px black;
	height:70px;
	width:10%;
	float:left;
}

.iconbox4{
	box-shadow: 2px 2px 2px 2px black;
	height:70px;
	width:10%;
	float:left;
}

.iconbox5{
	box-shadow: 2px 2px 2px 2px black;
	height:70px;
	width:10%;
	float:left;
}

.iconbox6{
	box-shadow: 2px 2px 2px 2px black;
	height:70px;
	width:10%;
	float:left;
}

.iconbox7{
	box-shadow: 2px 2px 2px 2px black;
	height:70px;
	width:10%;
	float:left;
}

.iconbox8{
	box-shadow: 2px 2px 2px 2px black;
	height:70px;
	width:16%;
	float:left;
}

.iconbox9{
	box-shadow: 2px 2px 2px 2px black;
	height:70px;
	width:14%;
	float:right;
}
#boxfot{
	box-shadow: 2px 2px 2px 2px black;
	height:600px;
	width: 85%;
	margin-top:50px;
	margin-left:147px;
	background-color:lightgrey;
}
.boxfot1{
	box-shadow: 2px 2px 2px 2px black;
	height:50px;
	width:90%;
}
.edurekaa2{
	text-decoration:none;
	color:blue;
	font-size: 29px;

}
.edurekaa2:hover{
	text-decoration:none;
	color:blue;

}
.lisall{
	margin-top:20px;
	color:grey;
}
.lisall:hover{
	margin-top:20px;
	color:grey;
	text-decoration:none;
}

.lisall2{
	margin-top:10px;
	color:grey;

}
.lisall:hover{
	margin-top:10px;
	color:grey;
	text-decoration:none;
}
.lisallhed1{
	float:left;
	box-shadow: 2px 2px 2px 2px black;
	height:550px;
	width:350px;
}
.lisallhed2{
	float:left;
	box-shadow: 2px 2px 2px 2px black;
	height:550px;
	width:350px;
}
.lisallhed3{
	float:left;
	box-shadow: 2px 2px 2px 2px black;
	height:550px;
	width:200px;
}
.lisallhed4{
	float:left;
	box-shadow: 2px 2px 2px 2px black;
	height:550px;
	width:240px;
}
.ipho{
	box-shadow: 2px 2px 2px 2px black;
	height:50px;
	width: 140px;

}
.andr{
	box-shadow: 2px 2px 2px 2px black;
	height:60px;
	width: 140px;
	margin-top: 30px;
}
a:hover{
	text-decoration:none;

}