<app-header></app-header>
<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="container">
<app-boxonslider></app-boxonslider>
<app-treandingcoures></app-treandingcoures>
<app-slider></app-slider>
</div>
<h1>hello world</h1>
<!-- <div id="trend">
  <b>Trending Courses</b>
</div>
<div class="trndall">
  <div class="trnd1">
        <a href="">ALL</a>
     </div>

      <div class="trnd2">
        <a href="">Cloud Computing</a>
     </div>

      <div class="trnd3">
      <a href="">DevOps</a>
     </div>

      <div class="trnd4">
         <a href="">BI and Visualization</a>
     </div>

      <div class="trnd5">
         <a href="">Data Science</a>
     </div>

      <div class="trnd6">
        <a href="">Big Data</a>
     </div>

      <div class="trnd7">
       <a class="trndicon" href="#"><i class="fas fa-bars"></i></a>
     </div>
</div>
<div id="hbox1">
  <a href=""><img src="assets/images/hbox1.jpg" height="100%" width="100%"></a>
</div>

<div class="hbox2">
   <a href=""><img src="assets/images/hbox2.jpg" height="100%" width="100%"></a>
</div>

<div class="hbox3">
   <a href=""><img src="assets/images/hbox3.jpg" height="100%" width="100%"></a>
</div>

<div class="hbox4">
  <a href=""><img src="assets/images/hbox4.jpg" height="100%" width="100%"></a>
</div>
<div class="h2box1">
  <a href=""><img src="assets/images/hbox5.jpg" height="100%" width="100%"></a>
</div>

<div class="h2box2">
  <a href=""><img src="assets/images/hbox6.jpg" height="100%" width="100%"></a>
</div>

<div class="h2box3">
  <a href=""><img src="assets/images/hbox7.jpg" height="100%" width="100%"></a>
</div>

<div class="h2box4">
<a href=""><img src="assets/images/hbox8.jpg" height="100%" width="100%"></a>
</div>
<div id="brows">
  <a href=""> <button class="browsbt">Browse All Courses</button></a>

   <p class="browsdt">Explore our wide range of courses</p>
</div>

<div id="care">
  <b>Career Related Programs</b>
</div>

<div class="care1">
    <a href=""><img src="assets/images/carehbox1.jpg" height="100%" width="100%"></a>
</div>

<div class="care2">
     <a href=""><img src="assets/images/carehbox2.jpg" height="100%" width="100%"></a>
</div>

<div class="care3">
    <a href=""><img src="assets/images/carehbox3.jpg" height="100%" width="100%"></a>
</div>

<div id="rec">
  <b>Recent Additions</b>
</div>

<div class="rec1">
  <a href=""><img src="assets/images/rec1.jpg" height="100%" width="100%"></a>
</div>

<div class="rec2">
  <a href=""><img src="assets/images/rec2.jpg" height="100%" width="100%"></a>
</div>

<div class="rec3">
  <a href=""><img src="assets/images/rec3.jpg" height="100%" width="100%"></a>
</div>

<div class="rec4">
  <a href=""><img src="assets/images/rec4.jpg" height="100%" width="100%"></a>
</div>
<div id="dis">
  <b>Discover Top Categories</b>
</div>

<div class="dis1">
 <a href=""><img src="assets/images/dis1.jpg" height="100%" width="100%"></a>			 		
</div>

<div class="dis2">
  <a href=""><img src="assets/images/dis2.jpg" height="100%" width="100%"></a>	
</div>

<div class="dis3">
  <a href=""><img src="assets/images/dis3.jpg" height="100%" width="100%"></a>	
</div>

<div class="dis4">
  <a href=""><img src="assets/images/dis4.jpg" height="100%" width="100%"></a>	
</div>

<div class="dis5">
  <a href=""><img src="assets/images/dis5.jpg" height="100%" width="100%"></a>	
</div>

<div class="dis6">
  <a href=""><img src="assets/images/dis6.jpg" height="100%" width="100%"></a>	
</div>

<div class="dis7">
  <a href=""><img src="assets/images/dis7.jpg" height="100%" width="100%"></a>	
</div>
  
<div id="rev">
  <b>Reviews</b>
</div>

<div class="rev1">
  <img src="assets/images/rev1.jpg" height="100%" width="100%">	
</div>

<div class="rev2">
  <img src="assets/images/rev2.jpg" height="100%" width="100%">
</div>

<div class="rev3">
    <img src="assets/images/rev3.jpg" height="100%" width="100%">
</div>


<div id="Enroll">
  <p class="Enroll1">Enroll, Learn, Grow, Repeat! Get ready to achieve your learning goals with Edureka</p>
      <button  class="Enrollbt"> View All Course</button>
</div> -->