
#animat{
	/* box-shadow: 1px 2px 2px 2px solid black; */
	/* box-shadow: 2px 2px 2px 2px black; */
	width:100%;
	height:360px;
    float:left;
    overflow:hidden;
    z-index:0;
}
.anim{
    height:200%;
    width:50%;
    float:left;
}
#animat section{
	       width:200%;
		position: relative;
	animation: siya 9s ease-in-out infinite alternate;
			
		}