<div id="animat">
    <section>
            <a href="">  <img src="assets/images/ani1.jpg" class="anim"></a>
              <a href="">   <img src="assets/images/ani2.jpg" class="anim"></a>
            </section>
  </div>