<ul class="nav justify-content mx-5 my-2">
        <li class="nav-item">
                <a class="nav-link" Routerlink="#">Browse <b>Categorise</b></a>
        </li>
        <li class="nav-item">
                <a class="nav-link" Routerlink="#">Executive programes</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" Routerlink="#">Cloud Computing</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" Routerlink="#">DevOps</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" Routerlink="#">BI and Visualization</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" Routerlink="#">Big Datan</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" Routerlink="#">Data Science</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" Routerlink="#">Data Science</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" Routerlink="#">|||</a>
        </li>
</ul>