<h3>Trending Courses</h3>
<ul class="nav justify-content">
    <li class="nav-item">
            <a class="nav-link" style="border-bottom: 4px solid rgb(14, 14, 109);" Routerlink="#"><b>ALL</b></a>
    </li>
    <li class="nav-item">
            <a class="nav-link" Routerlink="#">Cloud Computing</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" Routerlink="#">DevOps</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" Routerlink="#">Project Management and Methodologies</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" Routerlink="#">Data Science</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" Routerlink="#">Programming &Frameworks</a>
</li>
    <li class="nav-item">
            <a class="nav-link" Routerlink="#">|||</a>
    </li>
</ul>